body{
  background-image: url("../images/gravel.png");
}

/* The portfolio section */
.container{
  background-color: #ffffff;
  width: 55%;
  overflow: auto;
}
.odd{
  position: absolute;
  margin-right: 200px;
  right: 60px;
  margin-bottom: 40px;
}
.box{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
    }
.text{
  position: absolute;
  margin-left: 0px;
  text-align: center;
  top: 75%; /* Adjust this value to move the positioned div up and down */
  background: #4aaaa5;
  font-family: Arial,sans-serif;
  color: #fff;
  width: 58%; /* Set the width of the positioned div */
}
.right-text{
  margin-left: -109px
}
.grid{
  margin-top: 10px;

  color: #4aaaa5;
}
.container{
  margin-top: 15px;
}
.all{
  margin-bottom: 40px;
}
hr{
  border-bottom: 3px solid grey;
  margin-top: 20px;
}

/* The navigation section */
.nav{
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}
.name{
  background-color: #4aaaa5;
  color: #fff;
  margin-left: 340px;
  padding: 10px;
  /* text-align: center; */
}
h5{
  margin-left: 60px;
}
.list{
  left:50px;
  text-align: center;
}
.list{
  border-bottom: 0;
  margin-top: 10px;
  margin-left: 380px;
}

/* the footer section*/
.footer{
  margin-left: 650px;
  color: #fff;
  margin-top: 20px;
}
.bottom{
  background-color: #666666;
  border-top: 5px solid #4aaaa5;
}

/* Index page  */
.first{
  position:relative;
  right: 180px;
  width: 130%;
}
.flex{
  margin-top: 325px;
}
/* Contact page */

.submit{
  background-color: #4aaaa5;
  border: 1px solid #4aaaa5;
  color: white;
  padding: 5px 20px;
}
.contact{
  padding-bottom: 30px;
}
.lex{
  margin-top: 112px;
}










.hh{

}
